:root{
    --color-uno: #344;
    --color-dos: lemonchiffon;
}



body{
    text-align: center;
    background: var(--color-uno);
    color: var(--color-dos);
    min-height: 100%;
}


.bg-light{
    height: 10vh;
}

header img{
    height: 80px;
    border-radius: 3px;
}

header h5{
    margin-top: 16px;
}

header a{
    text-decoration: none;
    color: var(--color-dos);
}


header i{
    margin-right: 5vw;
}

.boton{
    display: block;
    margin: 1vh auto;
    border: none;
    background: none;
}

.boton2{
    display: inline-block;
    margin: 1vh 2vw;
    border: none;
    background: #212529;
    color: var(--color-dos);
    padding: 12px;
    border-radius: 3px;
    font-size: 4vh;
}

.parrafo{
    background: #212529;
    padding: 16px;
}

.form-control{
    background: var(--color-dos);
}
.form-control:hover{
    background: var(--color-dos);
}

#foto{
    width: 100%;
}

.boton a{
    text-decoration: none;
    color: var(--color-dos);
}

.morfi{
    padding: 2vh;
}

.blockquote{
    text-align: left;
}

.blockquote-footer{
    text-align: left;
}

.derecha{
    float: right;
}

h1 img{
    height: 40px;
    color: var(--color-dos);
}

.mt-6{
    padding-top: 60px;
}

footer{
    margin-top: 30px;
    padding: 20px 0px;
    background: #212529;
    font-size: 40px;
}
footer a{
    text-decoration: none;
    color: var(--color-dos);
}
footer a:hover{
    color: var(--color-dos);
}
footer h6{
    font-size: 2vh;
}

.decididor{
    margin-bottom: 10vh;
}

.yo{
    background-color: var(--color-dos);
    color: var(--color-uno);
    padding: 1vh;
}
.yo a{
    text-decoration: none;
    color: inherit;
}
.yo h6{
    margin: 0;
}
